/* menu items */
header .container{
  display: flex;
  align-items: flex-start !important;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin-right: 0.5em;
}

header .logo a{
  font-size: 1.5em;
  line-height: 1.4em;
  font-weight: bold;
  color: #0019ff;
}

header a{
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

header a:focus, header a:hover{
  color: #0019ff;
  text-decoration: none;
}
header a.active{
  color: #0019ff;
}

header nav ul{
display: none;
}

header nav li a{
display:block;
padding:1em;
text-align: center;
}

@media (min-width: 800px){
header nav ul{
  display: flex;
}
header nav li{
  padding: 0 20px;
}

}