@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table a {
    color: white;
}

table a:hover {
    text-decoration: none;
    color:  #001AFE;
}



/**************** *********************/

.tr:hover{
    background-color: rgb(255, 255, 255) 0.5;
}

.table-div {
    color: white;
    font-family: 'Fredoka', Arial, sans-serif;
    font-size: 1rem;
    background: rgb(54, 131, 139);
    background: linear-gradient(90deg, rgb(114, 183, 190) 0%, rgb(119, 106, 156) 100%);
    margin: 0;
    padding: 0;
}

.table-title {
    text-align: center;
}

.table-header {
    background-color: rgb(86, 86, 128);
    margin: 0;
}

.table-el {
    padding: 10px;
}

.table-header-el {
    font-weight: bold;
    margin: 0;
}
