.resume {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.resume h2 {
    margin-bottom: 4rem;
}
.resume .section {
    flex-basis: 50%;
    padding: 0 0.5rem;
}


.timeline-entry {
    display: flex;
    flex-flow: row nowrap;
}
.year, .year-bottom {
   
    max-width: 80px;
    max-height: 80px;
    height: auto;
    background-color: #001AFE;
    border-radius: 50%;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.year p, .year-bottom p {
    color: rgb(255, 255, 255);
    margin: 0;
    
  
    
    
}

.year::after {
    position: absolute;
    content: '';
    background-color: black;
    min-height: 280%;
    width: 3px;
    align-self: flex-start;
    z-index: -5;
    

}

.resume .text {
    flex-basis: 70%;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
}
.resume .section h3 {
    display: inline;
}
.resume .section h6 {
    display: inline;
    
}
.resume .text h6 {
    font-size: 0.8rem;
    margin: 0 0.5rem;
}
.resume .text p {
    margin-top: 1.2rem;
}